.book-content {
  position: relative;
}
.book-content__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: auto;
}
.book-content__logo > img {
  height: 100%;
  width: auto;
}
.book-content__header {
  padding-top: 70px;
  width: 100%;
  text-align: center;
}
.book-content__chapter-title {
  width: 100%;
  border-bottom: 1px solid #000;
  padding-top: 50px;
}
.book-content__chapter-title p {
  font-size: 1em;
}
.learning-objective {
  margin-top: 20px;
}
.learning-objective p {
  font-size: 1em;
}
.book-content__chapter-content {
  padding-top: 20px;
}
.book-content__chapter-content p {
  font-size: 1em;
}
